VITE_API_URL=http://localhost:8080/api

Nunca coloque informações sensíveis neste arquivo, ele serve apenas de exemplo para que você possa criar um arquivo .env real com as variáveis de ambiente necessárias para o funcionamento do projeto.