.progressContainer {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressSvg {
  transform: rotate(-90deg);
  position: absolute;
}

.progressBackground {
  stroke: var(--border-light);
  fill: transparent;
}

.progressBar {
  fill: transparent;
  stroke: var(--blue);
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.progressTextWrapper {
  text-align: center;
  z-index: 1;
  display: block;
}

.progressPercentage {
  font-weight: 700;
  color: var(--title-light);
}

.progressLabel {
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 400;
  display: block;
}
